.booking-bg {
    /*height: 900px;*/
    /*max-height: 100vh;*/
    background-size: 100% 10%;
    width: 100%;
    background-image: url("../assets/img/booking-bg.png");
    background-repeat: no-repeat;
    /*position: relative;*/
    /*top: -16px;*/
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    /*justify-content: center;*/
}

@media (max-width: 600px) {
    .booking-bg {
        background-size: 100% 5%;
    }
}
