@media (min-width: 901px) {
    .booking__card {
        background: #EAF6FF;
        border-radius: 60px 0px 60px 60px;
        height: 299px;
        margin: 100px 0;
    }

    .booking__card__img {
        /*display: flex;*/
        /*align-self: flex-end;*/
        /*justify-self: flex-end;*/
        position: relative;
        min-width: 100%;
        top: -133px;
    }

    .booking__card__img__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        height: 100%;
    }

    .booking__card__btn__wrapper {
        display: flex;
        height: 299px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}




@media (max-width: 900px) {

    .booking__card {
        background: #EAF6FF;
        border-radius: 12px;
    }

    .booking__card__img {
        width: 100%;
    }

    .booking__card__btn__wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 30px 0;
        /*width: 100%;*/
        /*padding: 10px;*/
        padding: 0 20px;
    }

    .book-btn__wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
