.booking-form__wrapper {
    margin-top: 200px;
}

.booking-form {
    /*position: relative;*/
    /*top: -500px;*/
    /*right: 50%;*/
    /*width: 100%;*/
    /*height: 500px;*/
    display: flex;
    justify-content: center;
    /*align-items: center;*/

    background: #FFFFFF;
    border-radius: 120px 0px 0px 0px;
    padding: 30px 10px;
}

.booking-form__form {
    max-width: 500px;
}

.booking-form__container {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.booking-form__title__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    /*padding: 0 30px;*/
}

.booking-form__title {
    font-family: 'Poppins Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 63px;
    text-align: center;
    max-width: 500px;
    padding: 0 30px;

    color: #000000;
}

.booking-form__subtitle__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.booking-form__subtitle {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    max-width: 600px;
    padding: 0 5px;

    color: #000000;
}

.booking-form__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    /*max-width: 480px;*/

    /*width: 100%;*/

    background: #FFF6DC;

    /* Inside auto layout */

    margin: 0px 0px;
}

.booking-form__info__text {
    font-family: 'Poppins Light', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    /*max-width: 500px;*/
    margin: 0;
    /*letter-spacing: .1px;*/

    color: #000000;
}

.booking-form__info__title {
    /*text-transform: uppercase;*/
    font-family: 'Poppins Bold', sans-serif;
    margin: 0;
}

.booking-form__info__title__wrapper {
    margin: 0px 0 20px 0;
}

.booking-form__info__link {
    font-family: 'Poppins Light', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    /*max-width: 500px;*/
    margin: 0;

    color: #377EBF;
}

.booking-form__btn__wrapper {
    margin-top: 30px;
}

.booking-form__table {
    margin: 2px 0;
}

.booking-form__table th {
    text-align: start;
    vertical-align: middle;
}

.booking-form__table td {
    text-align: center;
    vertical-align: middle;
}

.booking-form__table__column__title {
    font-family: 'Poppins Light', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    text-align: center;

    color: #000000;
}

.booking-form__table__row__title {
    font-family: 'Poppins Medium', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin: 6px 0 6px 10px;
    max-width: 250px;
    word-wrap:break-word;

    color: #000000;
}

.booking-form__table__row {
    background: #FFFFFF;
    height: 54px;
    /*padding: 6px 10px;*/
}

.booking-form__table__warning {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 25px 6px 10px;

    background: #FFFFFF;

    /* Inside auto layout */

    align-self: stretch;
    flex-grow: 0;
    margin: 2px 0px;
}

.booking-form__table__warning__text {
    font-family: 'Poppins Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */


    color: #EE5253;
}

.booking-form__table__warning__img {
    margin-right: 10px;
}

@media (max-width: 440px) {
    .booking-form__table__column__title {
        font-size: 8px;
    }
}

@media (max-width: 600px) {
    .booking-form__title {
        font-size: 22px;
        line-height: 33px;
    }

    .booking-form__subtitle {
        font-size: 14px;
        line-height: 21px;
    }

    .booking-form {
        border-radius: 40px 0px 0px 0px;
    }

    .booking-form__wrapper {
        margin-top: 100px;
    }
}
