.massage {
    background-image: url("../assets/img/massage-bg.png");
    height: 754px;
    background-size: 100% 100%;
}

@media (max-width: 600px) {
    .massage {
        background-size: cover;
        height: 300px;
    }
}
