.packages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.packages__tab__cards-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
