.sponsors {
    background: #F4F6F5;
    padding: 60px 0;
}

.sponsors__merch__title {
    font-family: 'Poppins Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    margin: 20px 0 0 0;
    /* identical to box height */

    text-align: center;

    color: #000000;
}

.sponsors__cards__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.sponsors__card {
    background: #FFFFFF;
    box-shadow: 0px 12px 22px rgba(116, 125, 147, 0.15);
    border-radius: 16px;
    margin: 0 20px;
    height: 406px;
    max-width: 320px;
}

.sponsors__card__price_blue {
    font-family: 'Poppins Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 63px;
    margin: 15px 0;
    /* identical to box height */

    text-align: center;

    color: #658BEA;
}

.sponsors__card__price_orange {
    font-family: 'Poppins Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 63px;
    margin: 15px 0;
    /* identical to box height */

    text-align: center;

    color: #FFA53B;
}

.sponsors__card__price_green {
    font-family: 'Poppins Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 63px;
    margin: 15px 0;
    /* identical to box height */

    text-align: center;

    color: #65B840;
}

.sponsors__card__items__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
}

.sponsors__card__items__row__item_blue {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;

    background: #EFF3FD;
    border-radius: 12px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 5px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    text-align: center;

    color: #000000;
}

.sponsors__card__items__row__item_orange {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;

    background: #FEE6CB;
    border-radius: 12px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 5px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    text-align: center;

    color: #000000;
}

.sponsors__card__items__row__item_green {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;

    background: #D7F3CA;
    border-radius: 12px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 5px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    text-align: center;

    color: #000000;
}

.sponsors__card__img {
    margin-bottom: 40px;
    max-width: 100%;
}

@media (max-width: 600px) {
    .sponsors__card {
        margin: 0;
        padding-top: 1px;
        box-shadow: none;
    }

    .sponsors {
        padding: 20px 0;
    }
}
