@import url('styles/Header.css');
@import url('styles/Main.css');
@import url('styles/TabPicker.css');
@import url('styles/Packages.css');
@import url('styles/PackageCard.css');
@import url('styles/PackageCardItem.css');

@font-face {
  font-family: 'Poppins Semi-bold';
  src: url('./assets/fonts/Poppins-SemiBold.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Poppins Medium';
  src: url('./assets/fonts/Poppins-Medium.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Variable.otf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Poppins Light';
  src: url('./assets/fonts/Poppins-Light.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Poppins Bold';
  src: url('./assets/fonts/Poppins-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
